@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Sacramento&display=swap');

body{
  background-color:  #987554;
  text-align: center;
}
.container-fluid{
  text-align:center;
  background-color:#664229;
  text-decoration-color:black;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size-adjust:;
}
h1{ 
  text-align:center;
  font-family: Sacramento;
}
h2{
  font-size: 25px;
  font-style: bold;
  font-family: Sacramento;
}
#intro{
  font-family: Josefin Slab;
}
li{
  font-family: Josefin Slab;
}
#display{
  font-family: Josefin Slab;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
input{
  font-family: Josefin Slab;
}